TODO.md
todo.md
playground

/.idea
/target_*

pnpm-lock.yaml

/target_web
/.jj

/testfiles
.venv

*.sln.DotSettings.user

perf.data
perf.data.old
profile.json
profile.json.gz
flamegraph.svg
dhat-heap.json
*.mm_profdata

cmp-*.sh

out.svg

baseline

*.xxd
*.jar
